CompileFlags:
  Add: [-D__XTENSA__, target=xtensa-esp-elf]
  Remove:
    [
      -fno-tree-switch-conversion,
      -mtext-section-literals,
      -fstrict-volatile-bitfields,
      -mlongcalls,
      -fno-shrink-wrap,
      -march=rv32imc_zicsr_zifencei,
    ]
